@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>All Users</h1>

<form class="d-flex" asp-action="Index">
    <input type="search" placeholder="Search.........." name="SearchInput" id="SearchInput" class="form-control mx-2" />
    <button class="btn btn-outline-success" type="submit">Search...</button>
</form>


<br />
<br />

@if (Model.Count() > 0)
{

    <table class="table table-striped table-hover table-bordered text-center">

        <thead>

            <tr>

                <th> @Html.DisplayNameFor(D => D.FName) </th>
                <th> @Html.DisplayNameFor(D => D.LName) </th>
                <th> @Html.DisplayNameFor(D => D.Email) </th>
                <th> @Html.DisplayNameFor(D => D.Roles) </th>
                <th> Details </th>
                <th> Update </th>
                <th> Delete </th>

            </tr>

        </thead>


        <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FName</td>
                    <td>@user.LName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" ",user.Roles)</td>
                    <partial name="_ButtonPartialView" model="@user.Id" />

                </tr>
            }

        </tbody>

    </table>

}

else
{

    <div class=" mt-4 alert alert-danger">
        <h3> There Is No Users :( </h3>
    </div>


}